In [3]:
import pandas as pd
dataset = pd.read_csv ("https://raw.githubusercontent.com/Shahzad-Siddiqui/data-science/main/OLX_Car_Data_CSV.csv")
dataset

      Brand Condition    Fuel  ...  Registered City Transaction Type  Year
0    Suzuki      Used  Petrol  ...          Karachi             Cash  2006
1    Suzuki      Used     CNG  ...          Karachi             Cash  1998
2    Suzuki      Used  Petrol  ...          Karachi             Cash  2010
3    Toyota      Used  Petrol  ...          Karachi             Cash  2013
4    Toyota      Used  Petrol  ...          Karachi             Cash  2012
..      ...       ...     ...  ...              ...              ...   ...
995  Toyota      Used  Petrol  ...           Lahore             Cash  2017
996  Suzuki      Used     CNG  ...          Karachi             Cash  1982
997  Toyota       New  Petrol  ...          Karachi             Cash  2010
998  Toyota      Used  Petrol  ...           Lahore             Cash  2003
999  Suzuki      Used     CNG  ...          Karachi             Cash  2005

[1000 rows x 9 columns]

In [7]:
import pandas as pd
import sklearn
dataset = pd.read_csv ("https://raw.githubusercontent.com/Shahzad-Siddiqui/data-science/main/OLX_Car_Data_CSV.csv")
#x = dataset.drop (['Model', 'Price'], axis = 1)
x = dataset.drop (['Model', 'Price'], axis = 1)
y = dataset['Price']
dataset
x.shape

(1000, 7)

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split (x,y, test_size = 0.2, random_state=0)
print (X_train.shape)
print (X_test.shape)
print (y_train.shape)
print (y_test.shape)

(800, 7)
(200, 7)
(800,)
(200,)

In [19]:

import pandas as pd
import sklearn
dataset = pd.read_csv ("https://raw.githubusercontent.com/Shahzad-Siddiqui/data-science/main/OLX_Car_Data_CSV.csv")
X = dataset.drop (['Model', 'Price'], axis = 1)
X.shape
y = dataset['Price']
y
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)
model = LinearRegression()
#Fit the model to the  AvgPrice column in the training data using this code:
lr = model.fit(X_train, y_train)
y_pred = lr.predict(X_test)
lr.score(X_test,y_test)

ValueError: ignored